In [1]:
10 + 2

12

In [2]:
10 - 7

3

In [3]:
10 * 2

20

In [4]:
10 / 2

5.0

In [5]:
# Jupyter notebook
# Shell과 같이 실행을 하면 코드를 서버로 보내고, 서버에서 실행해서, 결과를 출력해준다

In [6]:
# 주석
# 주석은 샾으로 시작하고, 코드에 영향을 미치지 않는다
# 설명하고 싶은 부분이 있거나, 기록으로 남겨두고 싶은 부분을 쓸 수 있다

In [7]:
# Python
# 1. 연산자 ( Operator )
# 2. 입출력 ( Input & Output )
# 3. 변수, 자료형 ( Data Types )
# - 숫자, 문자열, 참과 거짓, 여러개의 데이터를 묶어서 다룰 수 있는 컨테이너...

In [8]:
10 + 1

11

In [9]:
10 - 2 # 빼기 연산

8

In [10]:
20 * 2 # 곱하기 연산

40

In [11]:
10 / 2 # 나누기 연산

5.0

In [12]:
10 % 3 # 나머지 연산

1

In [13]:
10 ** 3 # 거듭제곱 연산

1000

In [14]:
# 입출력
# 내가 준 입력을 받으면 그대로 출력하는 앵무새를 만들자!
# - 절차 세우기
# 1. 입력을 받아서
# 2. 그 입력을 저장하고
# 3. 저장한 것을 그대로 출력한다

In [15]:
# 출력하기

In [16]:
# print함수는 인자를 받아서 표준출력에 써준다
print("Hello, World!")

Hello, World!

In [17]:
10

10

In [18]:
# 입력받기

In [19]:
input()

hh

'hh'

In [20]:
# 우리가 이 값들을 어디다 이름을 붙여서 담아둘 경우가 생긴다 ==> 변수
# 변수는 변하는 값을 담아두는 '공간'

In [21]:
a = 10

In [22]:
a

10

In [23]:
score = 80  # 메모리에 80이라는 값이 저장되고, 이름은 score

In [24]:
score = 70  # 이 값은 변경 가능한 값

In [25]:
score

70

In [26]:
# 앵무새 프로그램

In [27]:
input_str = input()
print(input_str)

hh
hh

In [28]:
# 타입의 확인. 모든 변수에는 타입이 존재한다.

In [29]:
type(10) # 정수형 데이터 => int

int

In [30]:
type(10.0)  # 실수형 데이터 => float

float

In [31]:
type("Hello world")  # 문자열 데이터 => str

str

In [32]:
# 문자열 데이터는 ", '로 만든다
'hello'

'hello'

In [33]:
hello_world = "Hello, world!"

In [34]:
hello_world

'Hello, world!'

In [35]:
type(hello_world)

str

In [36]:
name = '임원균'

In [37]:
"임원균" + "님, 반갑습니다!"

'임원균님, 반갑습니다!'

In [38]:
name + "님, 반갑습니다!"

'임원균님, 반갑습니다!'

In [39]:
"임원균의 점수: " + str(10)

'임원균의 점수: 10'

In [40]:
str(10)  # 정수형 데이터 => 문자열 데이터로 캐스팅

'10'

In [41]:
int("10") # 문자열 데이터 => 정수형 데이터로 캐스팅

10

In [42]:
# Q. + 연산 말고 다른 연산이 되는 것이 있나요?

In [43]:
"안녕" * 3

'안녕안녕안녕'

In [44]:
# 문자열 연결

In [45]:
"Hello" + "World"  # +연산자로 문자열 연결하기

'HelloWorld'

In [46]:
"Hello {}".format("World") # format으로 문자열 연결하기

'Hello World'

In [47]:
"Hello" + str(10) + "World"

'Hello10World'

In [48]:
"Hello{}World".format(10)

'Hello10World'

In [49]:
name = "임원균"

In [50]:
"안녕하세요 {name}님".format(name=name)  # 이름을 지정해서 전달하기

'안녕하세요 임원균님'

In [51]:
"{name}님 {greeting}".format(name="임원균", greeting="안녕하세요")

'임원균님 안녕하세요'

In [52]:
name

'임원균'

In [56]:
# 문자열의 인덱싱과 슬라이싱
python = "Life is too short, you need Python!"
#         0123456789 ...

In [57]:
python[0]

'L'

In [58]:
python[1]

'i'

In [59]:
python[2]

'f'

In [60]:
python[0] + python[1] + python[2] + python[3]

'Life'

In [62]:
python[0:4]  # 슬라이싱시 처음은 포함, 나중은 포함하지 않는다

'Life'

In [63]:
python[:4]

'Life'

In [65]:
python[5:]

'is too short, you need Python!'

In [69]:
python

'Life is too short, you need Python!'

In [68]:
python[0:10:2]  # 세번째 인자는 step

'Lf st'

In [72]:
python[::-1]  # 역순 출력

'!nohtyP deen uoy ,trohs oot si efiL'

In [73]:
# 문자열에 관련된 여러가지 함수들

In [76]:
python.upper()  # 문자열을 대문자로 만들기

'LIFE IS TOO SHORT, YOU NEED PYTHON!'

In [78]:
python.lower()  # 문자열을 소문자로 만들기

'life is too short, you need python!'

In [81]:
python.replace("short", "long")  # 모든 short를 long으로 찾아바꾸기

'Life is too long, you need Python!'

In [82]:
space = "           파이썬 프로그래밍            "

In [85]:
space.lstrip()  # 왼쪽 공백 제거

'파이썬 프로그래밍            '

In [87]:
space.rstrip()  # 오른쪽 공백 제거

'           파이썬 프로그래밍'

In [89]:
space.strip()

'파이썬 프로그래밍'

In [90]:
# 실습

In [92]:
greeting = "반갑습니다 저는 {}입니다".format("임원균")

In [95]:
greeting = greeting.replace("반갑습니다", "환영합니다")

In [96]:
greeting

'환영합니다 저는 임원균입니다'

In [98]:
python

'Life is too short, you need Python!'

In [99]:
python.startswith("Life")  # 특정 문자열로 시작하는가?

True

In [103]:
python.endswith("Python")  # 특정 문자열로 끝나는가?

False

In [107]:
# 참과 거짓을 다루는 자료형: bool
# 참 ==> True
# 거짓 ==> False
# 값들 간의 논리연산이나 수치 간의 비교연산의 결과
# 비교연산의 종류: > < == != >= <=

In [108]:
type(False)

bool

In [110]:
1 > 2  # 크다

False

In [111]:
1 < 2  # 작다

True

In [112]:
1 == 1  # 같다

True

In [113]:
1 != 1  # 같지 않다

False

In [114]:
1 >= 2  # 크거나 같다

False

In [115]:
1 <= 2  # 작거나 같다

True

In [118]:
"안녕하세요" == "안녕하세요"  # 문자열이 같은지 같지않은지 비교가능

True

In [119]:
# 여러가지 자료형
# 앞서 배운 것: 변수, 자료형 ( 정수형, 실수형, 문자열, 참, 거짓 )
# 다른 자료형들을 담을 수 있는 자료형: 컨테이너 자료형
# 1. 리스트 list
# 2. 튜플 tuple
# 3. 딕셔너리 dict
# 4. 집합 set

In [120]:
# 1. 리스트
# 시퀀스 ( 순서가 있는 ) 타입 중 하나

In [121]:
# 동물 => 강아지, 고양이, 병아리

In [133]:
animals = ["강아지", "고양이", "병아리"]  # 대괄호로 만든다
#            0        1       2
#            -3       -2      -1

In [136]:
animals[-3]  # 인덱싱

'강아지'

In [138]:
animals[:2]  # 슬라이싱도 가능하다

['강아지', '고양이']

In [139]:
# List => 여러 element 들을 저장하고 있는 자료형
#      => 순서가 있고, 값은 중복 허용

In [140]:
["강아지", "강아지", "강아지", "고양이"]

['강아지', '강아지', '강아지', '고양이']

In [142]:
data = [
    ["강아지1", "강아지2", "강아지3"],
    ["고양이1", "고양이2", "고양이3"]
]

In [145]:
data[1][0]

'고양이1'

In [147]:
# 리스트 만들기
# 1. list()
# 2. []
# 3. list comprehension

In [148]:
_list = list()

In [150]:
_list = []

In [151]:
_list

[]

In [152]:
# 리스트에 값 추가하기

In [154]:
animels = animals.append("소")

In [155]:
animals

['강아지', '고양이', '병아리', '소']

In [156]:
# 인덱스로 값을 삭제하기

In [158]:
animals.pop(2)

'병아리'

In [159]:
animals

['강아지', '고양이', '소']

In [160]:
# 값으로 삭제하기

In [161]:
animals.remove("강아지")

In [162]:
animals

['고양이', '소']

In [163]:
# 값 변경하기

In [165]:
animals[1] = "말랑카우"

In [166]:
animals

['고양이', '말랑카우']

In [168]:
# 원소의 갯수 확인하기
len(animals)

2

In [175]:
# in / not in
# 원소가 안에 있는지 없는지 검사한다
'강아지' in animals

False

In [176]:
'강아지' not in animals

True

In [180]:
"안녕하세요 저는 임원균입니다. 반갑습니다".split()

['안녕하세요', '저는', '임원균입니다.', '반갑습니다']

In [181]:
# 실습1

In [183]:
fine_dust = [14, 30, 24, 50]
sum_fine_dust = fine_dust[0] + fine_dust[1] + fine_dust[2] + fine_dust[3]
mean_fine_dust = sum_fine_dust / len(fine_dust)
print(mean_fine_dust)

29.5

In [184]:
# 실습2

In [185]:
colors = ["red", "green", "gold"]

In [186]:
colors.append("blue")

In [188]:
len(colors)

4

In [190]:
colors.pop(2)

'gold'

In [191]:
colors

['red', 'green', 'blue']

In [192]:
'green' in colors

True

In [194]:
list.insert?