In [9]:
# 지난시간
# 연산자 + - * / % **
# 변수, 자료형 ( int, float, str, bool )
# 컨테이너 자료형 ( list )

In [10]:
# 이번시간
# 컨테이너 자료형 ( tuple, dict, set )
# 조건문 ( conditional statement )
# 반복문 ( loop statement )
# 함수 
# list comprehesion / 파일 입출력

In [11]:
# tuple
# 시퀀스 타입 중 하나 ( 순서가 있는 )
# 값을 변경할 수가 없다!

In [12]:
# 생성하는 방법
# 1. tuple()
# 2. ()

In [13]:
_tuple = tuple()

In [14]:
_tuple

()

In [15]:
fruits = ('apple', 'banana', 'orange')

In [16]:
type(fruits)

tuple

In [17]:
fruits[0]

'apple'

In [18]:
fruits[1]

'banana'

In [20]:
fruits[2]

'orange'

In [24]:
a = 1

In [25]:
b = 2

In [28]:
a, b = (b, a)

In [29]:
print(a, b)

2 1

In [30]:
# Dict
# 맵핑 (mapping type) 
# 사전과 같이 동작해서 Dictionary라고 이야기한다
# Key하고 Value가 한쌍으로 저장된다

In [31]:
# 생성방법
# 1. dict()
# 2. {}

In [2]:
my_dict = {'one':1, 'two':2, 'three':3}

In [4]:
my_dict

{'one': 1, 'three': 3, 'two': 2}

In [5]:
# 딕셔너리의 접근

In [6]:
my_dict['two']

2

In [7]:
my_dict['two']

2

In [8]:
my_dict.get("three")

3

In [9]:
my_dict['five']

KeyError: 'five'

In [6]:
my_dict.get("five", 0)

5

In [4]:
my_dict['five'] = 5

In [7]:
my_dict

{'five': 5, 'one': 1, 'three': 3, 'two': 2}

In [43]:
my_dict.pop('five')

5

In [44]:
my_dict

{'one': 1, 'three': 3, 'two': 2}

In [45]:
len(my_dict)

3

In [46]:
student={
    'email': 'corikachu@gmail.com', 
    'name': 'wonkyun', 
    'phone': '010-5032-9432'
}

In [47]:
student

{'email': 'corikachu@gmail.com', 'name': 'wonkyun', 'phone': '010-5032-9432'}

In [48]:
student.get("name")

'wonkyun'

In [49]:
student["language"] = ['korean', 'english', 'python']

In [51]:
student

{'email': 'corikachu@gmail.com',
 'language': ['korean', 'english', 'python'],
 'name': 'wonkyun',
 'phone': '010-5032-9432'}

In [54]:
student["phone"][0:2]

'01'

In [55]:
# 딕셔너리 실습

In [56]:
fruits = {
    "apple": "red",
    "banana": "yellow",
}

In [58]:
fruits['cherry'] = 'red'

In [59]:
fruits

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

In [60]:
# 2.
air1 = {
    'day': '1일',
    'fine_dust': 100,
    'ultrafine_dust': 30,
}
air2 = {
    'day': '2일',
    'fine_dust': 300,
    'ultrafine_dust': 50,
}
air3 = {
    'day': '3일',
    'fine_dust': 240,
    'ultrafine_dust': 15,
}
air_pollution = [air1, air2, air3]

In [61]:
air_pollution

[{'day': '1일', 'fine_dust': 100, 'ultrafine_dust': 30},
 {'day': '2일', 'fine_dust': 300, 'ultrafine_dust': 50},
 {'day': '3일', 'fine_dust': 240, 'ultrafine_dust': 15}]

In [62]:
# set
# 집합: 원소가 유일하다
# 순서가 없다

In [63]:
my_set = {1, 2, 3}

In [65]:
my_list = ['A', 'A', 'A', 'B', 'B', 'C']

In [66]:
my_list

['A', 'A', 'A', 'B', 'B', 'C']

In [68]:
list(set(my_list))

['A', 'C', 'B']

In [69]:
# 실습

In [84]:
number = input()
number = int(number)
print("{} x 1 = {}".format(number, number*1))
print("{} x 2 = {}".format(number, number*2))
print("{} x 3 = {}".format(number, number*3))
print("{} x 4 = {}".format(number, number*4))
print("{} x 5 = {}".format(number, number*5))
print("{} x 6 = {}".format(number, number*6))
print("{} x 7 = {}".format(number, number*7))
print("{} x 8 = {}".format(number, number*8))
print("{} x 9 = {}".format(number, number*9))

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [85]:
# 조건문 ( Conditional Statement )

In [87]:
# 참과 거짓을 표현하는 자료형: bool ( True, False )

In [88]:
1 > 2

False

In [93]:
1 <= 2

True

In [90]:
1 == 2

False

In [92]:
1 != 2

True

In [97]:
age = 18

In [99]:
# 논리 연산: and, or, not

In [101]:
# and: 두 변이 참일 때만 참
# or: 둘 중 하나만 참이여도 참
# not: 논리 상태를 반전

In [104]:
True and True

True

In [110]:
True and False

False

In [111]:
False and False

False

In [114]:
True or True

True

In [115]:
True or False

True

In [117]:
False or False

False

In [118]:
not True

False

In [119]:
not False

True

In [122]:
height = 170
weight = 70

In [124]:
# 키가 180 이상이거나, 몸무게가 90키로 이상이거나,
( height >= 180 )  or  ( weight >= 90 )

False

In [125]:
# 조건문: if
# 조건을 평가해서 그 결과에 따라 수행여부를 결정
# 조건문에는 참과 거짓을 판단할 수 있는 문장이 들어간다
# 조건문이 참이면 실행, 그렇지않으면 실행하지 않는다

In [126]:
if height <= 180:
    print("180보다 작습니다")

180보다 작습니다

In [127]:
if True:
    print("반드시 실행됩니다")

반드시 실행됩니다

In [129]:
if False:
    print("이 문장은 실행되지 않습니다")
print("안녕하세요!")

안녕하세요!

In [132]:
age = 20

In [134]:
if age <= 19:
    print("미성년자 입니다")
else:
    print("성인입니다")

성인입니다

In [135]:
# 조건문 if / elif / else
# - if 조건이 아닐 경우 elif 검사하고 이마저도 아닐 경우에 else문장을 실행시킨다

In [136]:
a = 10

In [137]:
if a > 10:
    print("a가 10보다 크다")
elif a == 10:
    print("a가 10이다")
else:
    print("a가 10보다 작다")

a가 10이다

In [138]:
# 실습
# 사용자로부터 숫자 하나를 입력받아서,
# => 3의 배수이면 "3의 배수입니다"
# => 5의 배수이면 "5의 배수입니다"
# => 15의 배수이면 "15의 배수입니다"

In [146]:
number = int(input())
if number % 15 == 0:
    print("15의 배수입니다")
if number % 5 == 0:
    print("5의 배수입니다")
if number % 3 == 0:
    print("3의 배수입니다")

30
15의 배수입니다
5의 배수입니다
3의 배수입니다

In [147]:
# 반복문 for:
# - 반복해서 요소들을 처리해야 할 경우
# - 시퀀스 데이터나 반복가능한 객체(iterable)에서 원소를 하나하나 뽑아서 변수로 가져온다
# - 원소의 갯수만큼 반복한다

In [148]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [149]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

In [150]:
animals = ["강아지", "고양이", "병아리"]

In [152]:
for animal in animals:
    print("내가 키우고 있는 동물은 {ani}입니다".format(ani=animal))

내가 키우고 있는 동물은 강아지입니다
내가 키우고 있는 동물은 고양이입니다
내가 키우고 있는 동물은 병아리입니다

In [153]:
dog = "dog"

In [154]:
for ch in dog:
    print(ch)

d
o
g

In [159]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [160]:
# break: 반복문을 중단시킨다
# continue: 코드를 더 이상 진행하지 않고 다음 요소를 뽑아온다

In [162]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [1]:
# 실습

In [2]:
for i in range(1, 50+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [1]:
for number in range(2, 10):
    print("{}단 입니다".format(number))
    
    for i in range(2, 10):
        print("{} x {} = {}".format(number, i, number*i))

2단 입니다
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단 입니다
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단 입니다
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단 입니다
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단 입니다
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단 입니다
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단 입니다
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단 입니다
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [2]:
evens = []
for i in range(101):
    if i % 2 == 0:
        evens.append(i)
evens

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [3]:
for i in evens:
    print(i/2)

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0

In [6]:
for index, value in enumerate(evens):
    print(index, value)

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
10 20
11 22
12 24
13 26
14 28
15 30
16 32
17 34
18 36
19 38
20 40
21 42
22 44
23 46
24 48
25 50
26 52
27 54
28 56
29 58
30 60
31 62
32 64
33 66
34 68
35 70
36 72
37 74
38 76
39 78
40 80
41 82
42 84
43 86
44 88
45 90
46 92
47 94
48 96
49 98
50 100

In [7]:
interest_stocks = ["Naver", "Samsung", "Kakao"]
for stock_item in interest_stocks:
    print("{}주식을 구매했습니다".format(stock_item))

Naver주식을 구매했습니다
Samsung주식을 구매했습니다
Kakao주식을 구매했습니다

In [14]:
interest_stocks = {
    "Naver": 10,
    "Samsung": 5,
    "Kakao": 20
}
for key, value in interest_stocks.items():
    print("{}종목을 {}주 구매했습니다".format(key, value))

Naver종목을 10주 구매했습니다
Samsung종목을 5주 구매했습니다
Kakao종목을 20주 구매했습니다

In [15]:
# 반복문: while
# - 반복해서 문장을 수행해야 할 경우
# - 조건문이 False가 될때까지 수행한다

In [16]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [18]:
# 실습
# 다음 코드와 똑같이 동작하는 while

my_list = []
for i in range(100):
    if i % 2 == 0:
        my_list.append(i)

In [21]:
i = 0
my_list = []
while i < 100:
    if i % 2 == 0:
        my_list.append(i)
    i += 1

In [22]:
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [29]:
# air_pollution에서 fine_dust의 평균을 for문으로 구해보세요
air1 = {
    'day': '1일',
    'fine_dust': 100,
}
air2 = {
    'day': '2일', 
    'fine_dust': 50,
}
air3 = {
    'day': '3일',
    'fine_dust': 150,
}
air_pollution = [air1, air2, air3]

sum_fine_dust = 0
for item in air_pollution:
    sum_fine_dust += item.get("fine_dust")
    # sum_fine_dust = sum_fine_dust + item.get("fine_dust")
mean = sum_fine_dust / len(air_pollution)
print(mean)

100.0