In [1]:
_list = []
_tuple = ()
_dict = {}

In [3]:
if True:
    pass

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
# 이번시간
# 함수 ( function )
# List Comprehenion
# 파일 입출력 ( File I/O )
# 모듈 사용법

In [9]:
# 함수
# 입력값을 가지고 일을 수행한 다음 결과를 돌려주는 것
# 함수의 선언은 def으로 시작해서 :으로 본문이 시작한다
# 반복적으로 사용되는 가치가 있는 부분을 묶어서 재사용하기 위함

In [10]:
# y = 2x + 1

In [11]:
def func(x):
    y = 2 * x + 1
    return y

In [12]:
func(3)

7

In [13]:
func(5)

11

In [14]:
"hello".upper()

'HELLO'

In [17]:
type(4)

int

In [19]:
print("Kakao의 주식을 구매했습니다")
print("Kakao의 주식을 구매했습니다")
print("Kakao의 주식을 구매했습니다")

Kakao의 주식을 구매했습니다
Kakao의 주식을 구매했습니다
Kakao의 주식을 구매했습니다

In [21]:
for i in range(3):
    print("{}의 주식을 구매했습니다".format("카카오"))

카카오의 주식을 구매했습니다
카카오의 주식을 구매했습니다
카카오의 주식을 구매했습니다

In [22]:
def buy_stock(name):
    for i in range(3):
        print("{}의 주식을 구매했습니다".format(name))

In [23]:
buy_stock("카카오")

카카오의 주식을 구매했습니다
카카오의 주식을 구매했습니다
카카오의 주식을 구매했습니다

In [24]:
buy_stock("삼성")

삼성의 주식을 구매했습니다
삼성의 주식을 구매했습니다
삼성의 주식을 구매했습니다

In [25]:
# 함수의 반환값(return)이 없을 수도 있다
def say_hello():
    print("안녕")

In [26]:
say_hello()

안녕

In [27]:
# 구구단 함수
def print_multiplication_table(number):
    for i in range(2, 10):
        print("{} x {} = {}".format(number, i, number*i))

In [29]:
print_multiplication_table(3)

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [30]:
for i in range(2, 10):
    print_multiplication_table(i)

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [31]:
# return: 해당 함수를 종료하고 원래 호출했던 곳으로 되돌아가게 한다
# 반환값으로는 어떤 객체도 돌려줄 수 있으며, 반환값이 없을 수도 있다
# 하나의 객체만 돌려줄 수 있다

In [32]:
_dict = {'name': '임원균'}
for item in _dict.items():
    print(item)

('name', '임원균')

In [33]:
# pass: 아무런 일도 하지 않는다
# 아무것도 하지 않는 함수, 모듈, 클래스를 만들 때 쓴다

In [34]:
def func():
    pass

In [36]:
# 다음 a 변수는 바뀔까요? 안바뀔까요?
a = [1, 2, 3]
def func():
    a = [4, 5, 6]
    a.append("a")
func()

In [37]:
a

[1, 2, 3]

In [40]:
# 스코프 ( scope )
# - 함수 내부의 이름공간(namespace)를 지역 영역 ( local scope )
# - 함수 밖의 이름공간을 전역 영역 ( global scope )
# - 파이썬 자체에서 정의한 내용을 내장 영역 ( bulit-in scope )

In [41]:
# 함수: 기본 파라미터

In [53]:
def calc(x, y, factor=1):
    return x * y * factor

In [54]:
calc(2, 3)

6

In [55]:
calc(2, 3, 10)

60

In [56]:
# 함수: 파라미터를 이름으로 전달하기

In [61]:
def report(name, score):
    return "{}의 점수: {}".format(name, score)

In [63]:
r = report(score=80, name="임원균")

In [64]:
r

'임원균의 점수: 80'

In [68]:
# 실습: url_builder
# https://search.naver.com/search.naver?query=파이썬

def url_builder(keyword):
    default_url = "https://search.naver.com/search.naver?query={}"
    url = default_url.format(keyword)
    return url

In [70]:
url_builder("컴퓨터")
# https://search.naver.com/search.naver?query=파이썬

'https://search.naver.com/search.naver?query=컴퓨터'

In [71]:
# 인자가 여러개인 함수

In [72]:
def add(a, b):
    return a + b

In [73]:
add(1, 2)

3

In [74]:
# 확장성..  =>  인자가 a, b, c, d, ....

In [75]:
def add(a, b, c=0, d=0):
    return a + b + c + d

In [76]:
add(1, 2, 3)

6

In [77]:
add( 1, 2, 3, 4)

10

In [79]:
_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def add(sum_list):
    result = 0
    for i in sum_list:
        result += i
    return result

In [80]:
add(_list)
# 45

45

In [81]:
print("a", "b", "c", "d", "e")

a b c d e

In [82]:
print("a", "b", "c", "d", "e", "as","dsf")

a b c d e as dsf

In [85]:
# 가변길이 파라미터: 파라미터의 갯수가 정해져있지 않다
def add(*args):
    print(args)
    result = 0
    for i in args:
        result += i
    return result

In [86]:
add(1, 2, 3, 4, 5, 6, 7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [87]:
_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
add(*_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [88]:
def print_info(**kwargs):  # keyword args의 packing
    print(kwargs)

In [89]:
print_info(name="임원균", email="corikachu@gmail.com", phone="01050329432")

{'name': '임원균', 'email': 'corikachu@gmail.com', 'phone': '01050329432'}

In [90]:
_dict = {'name': '임원균', 'email': 'corikachu@gmail.com'}

In [91]:
print_info(**_dict) # unpacking

{'name': '임원균', 'email': 'corikachu@gmail.com'}

In [101]:
# url에는 ? 뒤에 파라미터가 붙는다
# https://search.naver.com/search.naver?where=post&sm=tab_jum&query=파이썬

def url_builder(domain, **kwargs):
#     print(domain, kwargs)
    for key, value in kwargs.items():
        domain += "{key}={value}&".format(
            key=key,
            value=value
        )
    return domain

In [102]:
url_builder("https://search.naver.com/search.naver?", query="파이썬")
# https://search.naver.com/search.naver?query=파이썬&

'https://search.naver.com/search.naver?query=파이썬&'

In [103]:
url_builder("https://search.naver.com/search.naver?", query="파이썬", where="post")
# https://search.naver.com/search.naver?query=파이썬&where=post&

'https://search.naver.com/search.naver?query=파이썬&where=post&'

In [105]:
# 팩토리얼 5! = 5 * 4 * 3 * 2 * 1
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result = result * i
    return result

In [106]:
factorial(5)
# 120

120

In [108]:
# 재귀함수
def factorial(n):
    if 1 >= n:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [111]:
# 실습: 피보나치 수열
# 1, 1, 2, 3, 5, 8, 13, .....
# 점화식: Fi(n) = Fi(n-1) + Fi(n-2), Fi(1) = 1, Fi(2) = 1, n은 자연수
# k번째 피보나치 수를 구하는 함수를 재귀함소로 만들어 보세요

In [113]:
def fibonacci(n):
    if n <= 2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [119]:
fibonacci(40)
# 21

102334155

In [124]:
# List Comprehension
# - 리스트 컴프리핸션
# - 간단한 for문으로 리스트를 만들때 사용한다
# - 리스트 객체를 이용해서 조합, 필터링 등 추가 연산을 통해 새로운 리스트를 만든다

In [126]:
# 모든 원소를 제곱시켜서 리스트로 만들자!
x = [1, 2, 3, 4, 5]
y = []
for i in x:
    y.append(i**2)
y

[1, 4, 9, 16, 25]

In [132]:
y = [ i ** 2 for i in x ]

In [133]:
y

[1, 4, 9, 16, 25]

In [134]:
file_list = ["텍스트파일.txt", "이미지파일.png", "텍스트파일2.txt", "콤마.csv"]

In [135]:
file_list

['텍스트파일.txt', '이미지파일.png', '텍스트파일2.txt', '콤마.csv']

In [137]:
txt_list = []
for filename in file_list:
    if filename.endswith(".txt"):
        txt_list.append(filename)
txt_list

['텍스트파일.txt', '텍스트파일2.txt']

In [139]:
[
    filename.upper()
    for filename
    in file_list
    if filename.endswith(".txt")
]

['텍스트파일.TXT', '텍스트파일2.TXT']

In [140]:
# 실습
fruits = ["apple", "banana", "orange", "kiwi"]

In [143]:
_list = []
for fruit in fruits:
    if len(fruit) > 5:
        _list.append(fruit)
_list

['banana', 'orange']

In [144]:
[
    fruit
    for fruit
    in fruits
    if len(fruit) > 5
]

['banana', 'orange']

In [145]:
_list = []
for fruit in fruits:
    _list.append(fruit.upper())
_list

['APPLE', 'BANANA', 'ORANGE', 'KIWI']

In [146]:
[
    fruit.upper()
    for fruit
    in fruits
]

['APPLE', 'BANANA', 'ORANGE', 'KIWI']

In [147]:
_list = []
for i in range(1, 101):
    if i % 2 == 0:
        _list.append(i**2)
_list

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [148]:
[
    i ** 2
    for i
    in range(1, 101)
    if i % 2 == 0
]

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [149]:
# 파일 입출력

In [150]:
# open --> 작업 --> close

In [154]:
file = open("텍스트파일.txt", encoding='utf-8')

In [155]:
file.read()

'안녕하세요 반갑습니다\n저는\n임원균이라고 합니다\n'

In [156]:
file.close()