In [1]:
import pandas as pd
import numpy as np

In [2]:
# 축
# axis = 0, axis = 1

In [3]:
grid = np.arange(12).reshape(4, 3)

In [4]:
grid

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [5]:
grid.sum(axis=0)  # ||||

array([18, 22, 26])

In [6]:
grid.sum(axis=1)  # ----

array([ 3, 12, 21, 30])

In [7]:
np.concatenate([grid, grid], axis=0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [8]:
np.concatenate([grid, grid], axis=1)

array([[ 0,  1,  2,  0,  1,  2],
       [ 3,  4,  5,  3,  4,  5],
       [ 6,  7,  8,  6,  7,  8],
       [ 9, 10, 11,  9, 10, 11]])

In [9]:
# 빈 DataFrame 생성하기
df = pd.DataFrame(columns=["Name", "Email", "Phonenumber"])

In [10]:
# 2. DataFrame에 데이터 추가하기
# 2.1 List로 추가하기
df.loc[0] = ["임원균", "corikachu@gmail.com", "01050329432"]

In [11]:
df

  Name                Email  Phonenumber
0  임원균  corikachu@gmail.com  01050329432

In [12]:
# 2.2 Dict로 추가하기
df.loc[1] = {
    "Name": "임원균", 
    "Email": "corikachu@gmail.com",
    "Phonenumber": "01050329432"
}

In [13]:
df

  Name                Email  Phonenumber
0  임원균  corikachu@gmail.com  01050329432
1  임원균  corikachu@gmail.com  01050329432

In [14]:
# 2.3 Series로 추가하기
s = pd.Series({'Name': '홍길동', "Email": 'Email@gmail.com', "Phonenumber": "01012341234"})

In [15]:
df.loc[2] = s

In [16]:
df

  Name                Email  Phonenumber
0  임원균  corikachu@gmail.com  01050329432
1  임원균  corikachu@gmail.com  01050329432
2  홍길동      Email@gmail.com  01012341234

In [17]:
len(df)

3

In [18]:
# df에다가 새로운 데이터 10개를 추가하는데
# for문을 돌려서 추가해보세요

# DataFrame의 기존 데이터를 지우지 않고 append
# => df.loc[_____] 

# len(df) => 2
# df.loc[2] = ..

# len(df) => 3
# df.loc[3] ...

In [19]:
for i in range(10):
    df.loc[len(df)] = ["학생_{}".format(i), "email@gmail.com", "0101234124"]

In [20]:
df

    Name                Email  Phonenumber
0    임원균  corikachu@gmail.com  01050329432
1    임원균  corikachu@gmail.com  01050329432
2    홍길동      Email@gmail.com  01012341234
3   학생_0      email@gmail.com   0101234124
4   학생_1      email@gmail.com   0101234124
5   학생_2      email@gmail.com   0101234124
6   학생_3      email@gmail.com   0101234124
7   학생_4      email@gmail.com   0101234124
8   학생_5      email@gmail.com   0101234124
9   학생_6      email@gmail.com   0101234124
10  학생_7      email@gmail.com   0101234124
11  학생_8      email@gmail.com   0101234124
12  학생_9      email@gmail.com   0101234124

In [21]:
df["Name"]  # Series값

0      임원균
1      임원균
2      홍길동
3     학생_0
4     학생_1
5     학생_2
6     학생_3
7     학생_4
8     학생_5
9     학생_6
10    학생_7
11    학생_8
12    학생_9
Name: Name, dtype: object

In [22]:
df[["Name", "Email"]]  # DataFrame값

    Name                Email
0    임원균  corikachu@gmail.com
1    임원균  corikachu@gmail.com
2    홍길동      Email@gmail.com
3   학생_0      email@gmail.com
4   학생_1      email@gmail.com
5   학생_2      email@gmail.com
6   학생_3      email@gmail.com
7   학생_4      email@gmail.com
8   학생_5      email@gmail.com
9   학생_6      email@gmail.com
10  학생_7      email@gmail.com
11  학생_8      email@gmail.com
12  학생_9      email@gmail.com

In [23]:
df["Address"] = None  # None: 누락된 데이터

In [24]:
df

    Name                Email  Phonenumber Address
0    임원균  corikachu@gmail.com  01050329432    None
1    임원균  corikachu@gmail.com  01050329432    None
2    홍길동      Email@gmail.com  01012341234    None
3   학생_0      email@gmail.com   0101234124    None
4   학생_1      email@gmail.com   0101234124    None
5   학생_2      email@gmail.com   0101234124    None
6   학생_3      email@gmail.com   0101234124    None
7   학생_4      email@gmail.com   0101234124    None
8   학생_5      email@gmail.com   0101234124    None
9   학생_6      email@gmail.com   0101234124    None
10  학생_7      email@gmail.com   0101234124    None
11  학생_8      email@gmail.com   0101234124    None
12  학생_9      email@gmail.com   0101234124    None

In [25]:
df["Address"] = np.nan  # Not a Number

In [26]:
df

    Name                Email  Phonenumber  Address
0    임원균  corikachu@gmail.com  01050329432      NaN
1    임원균  corikachu@gmail.com  01050329432      NaN
2    홍길동      Email@gmail.com  01012341234      NaN
3   학생_0      email@gmail.com   0101234124      NaN
4   학생_1      email@gmail.com   0101234124      NaN
5   학생_2      email@gmail.com   0101234124      NaN
6   학생_3      email@gmail.com   0101234124      NaN
7   학생_4      email@gmail.com   0101234124      NaN
8   학생_5      email@gmail.com   0101234124      NaN
9   학생_6      email@gmail.com   0101234124      NaN
10  학생_7      email@gmail.com   0101234124      NaN
11  학생_8      email@gmail.com   0101234124      NaN
12  학생_9      email@gmail.com   0101234124      NaN

In [27]:
df.loc[0, "Address"] = "이수역"

In [28]:
df

    Name                Email  Phonenumber Address
0    임원균  corikachu@gmail.com  01050329432     이수역
1    임원균  corikachu@gmail.com  01050329432     NaN
2    홍길동      Email@gmail.com  01012341234     NaN
3   학생_0      email@gmail.com   0101234124     NaN
4   학생_1      email@gmail.com   0101234124     NaN
5   학생_2      email@gmail.com   0101234124     NaN
6   학생_3      email@gmail.com   0101234124     NaN
7   학생_4      email@gmail.com   0101234124     NaN
8   학생_5      email@gmail.com   0101234124     NaN
9   학생_6      email@gmail.com   0101234124     NaN
10  학생_7      email@gmail.com   0101234124     NaN
11  학생_8      email@gmail.com   0101234124     NaN
12  학생_9      email@gmail.com   0101234124     NaN

In [29]:
# 누락된 데이터 체크
df.isnull()

     Name  Email  Phonenumber  Address
0   False  False        False    False
1   False  False        False     True
2   False  False        False     True
3   False  False        False     True
4   False  False        False     True
5   False  False        False     True
6   False  False        False     True
7   False  False        False     True
8   False  False        False     True
9   False  False        False     True
10  False  False        False     True
11  False  False        False     True
12  False  False        False     True

In [30]:
df.notnull()  # isnull의 역

    Name  Email  Phonenumber  Address
0   True   True         True     True
1   True   True         True    False
2   True   True         True    False
3   True   True         True    False
4   True   True         True    False
5   True   True         True    False
6   True   True         True    False
7   True   True         True    False
8   True   True         True    False
9   True   True         True    False
10  True   True         True    False
11  True   True         True    False
12  True   True         True    False

In [31]:
df.dropna()  # 누락된 데이터 버린다

  Name                Email  Phonenumber Address
0  임원균  corikachu@gmail.com  01050329432     이수역

In [32]:
df["Address"].dropna()

0    이수역
Name: Address, dtype: object

In [33]:
df["Address"] = df["Address"].fillna("주소 정보 없음")

In [34]:
df

    Name                Email  Phonenumber   Address
0    임원균  corikachu@gmail.com  01050329432       이수역
1    임원균  corikachu@gmail.com  01050329432  주소 정보 없음
2    홍길동      Email@gmail.com  01012341234  주소 정보 없음
3   학생_0      email@gmail.com   0101234124  주소 정보 없음
4   학생_1      email@gmail.com   0101234124  주소 정보 없음
5   학생_2      email@gmail.com   0101234124  주소 정보 없음
6   학생_3      email@gmail.com   0101234124  주소 정보 없음
7   학생_4      email@gmail.com   0101234124  주소 정보 없음
8   학생_5      email@gmail.com   0101234124  주소 정보 없음
9   학생_6      email@gmail.com   0101234124  주소 정보 없음
10  학생_7      email@gmail.com   0101234124  주소 정보 없음
11  학생_8      email@gmail.com   0101234124  주소 정보 없음
12  학생_9      email@gmail.com   0101234124  주소 정보 없음

In [35]:
df = df.drop(1)

In [36]:
df = df.drop("Address", axis=1)

In [37]:
df

    Name                Email  Phonenumber
0    임원균  corikachu@gmail.com  01050329432
2    홍길동      Email@gmail.com  01012341234
3   학생_0      email@gmail.com   0101234124
4   학생_1      email@gmail.com   0101234124
5   학생_2      email@gmail.com   0101234124
6   학생_3      email@gmail.com   0101234124
7   학생_4      email@gmail.com   0101234124
8   학생_5      email@gmail.com   0101234124
9   학생_6      email@gmail.com   0101234124
10  학생_7      email@gmail.com   0101234124
11  학생_8      email@gmail.com   0101234124
12  학생_9      email@gmail.com   0101234124

In [38]:
# "임원균" => "임원균의 주소"
# "학생_0" => "학생_0의 주소
def get_address(name):
    return "{name}의 주소".format(name=name)

In [39]:
df["Address"] = df["Name"].apply(get_address)  # Lambda Operator: map과 같이 동작

In [40]:
df["Address"] = df["Name"].apply(lambda name: "{}의 주소".format(name))

In [41]:
df

    Name                Email  Phonenumber   Address
0    임원균  corikachu@gmail.com  01050329432   임원균의 주소
2    홍길동      Email@gmail.com  01012341234   홍길동의 주소
3   학생_0      email@gmail.com   0101234124  학생_0의 주소
4   학생_1      email@gmail.com   0101234124  학생_1의 주소
5   학생_2      email@gmail.com   0101234124  학생_2의 주소
6   학생_3      email@gmail.com   0101234124  학생_3의 주소
7   학생_4      email@gmail.com   0101234124  학생_4의 주소
8   학생_5      email@gmail.com   0101234124  학생_5의 주소
9   학생_6      email@gmail.com   0101234124  학생_6의 주소
10  학생_7      email@gmail.com   0101234124  학생_7의 주소
11  학생_8      email@gmail.com   0101234124  학생_8의 주소
12  학생_9      email@gmail.com   0101234124  학생_9의 주소

In [42]:
# apply
# axis=0: column-wise
# axis=1: row-wise
df.apply(lambda s: print(s), axis=0)

0      임원균
2      홍길동
3     학생_0
4     학생_1
5     학생_2
6     학생_3
7     학생_4
8     학생_5
9     학생_6
10    학생_7
11    학생_8
12    학생_9
Name: Name, dtype: object
0     corikachu@gmail.com
2         Email@gmail.com
3         email@gmail.com
4         email@gmail.com
5         email@gmail.com
6         email@gmail.com
7         email@gmail.com
8         email@gmail.com
9         email@gmail.com
10        email@gmail.com
11        email@gmail.com
12        email@gmail.com
Name: Email, dtype: object
0     01050329432
2     01012341234
3      0101234124
4      0101234124
5      0101234124
6      0101234124
7      0101234124
8      0101234124
9      0101234124
10     0101234124
11     0101234124
12     0101234124
Name: Phonenumber, dtype: object
0      임원균의 주소
2      홍길동의 주소
3     학생_0의 주소
4     학생_1의 주소
5     학생_2의 주소
6     학생_3의 주소
7     학생_4의 주소
8     학생_5의 주소
9     학생_6의 주소
10    학생_7의 주소
11    학생_8의 주소
12    학생_9의 주소
Name: Address, dtype: object

Name           None
Email          None
Phonenumber    None
Address        None
dtype: object

In [43]:
df.apply(lambda s: print(s), axis=1)

Name                           임원균
Email          corikachu@gmail.com
Phonenumber            01050329432
Address                    임원균의 주소
Name: 0, dtype: object
Name                       홍길동
Email          Email@gmail.com
Phonenumber        01012341234
Address                홍길동의 주소
Name: 2, dtype: object
Name                      학생_0
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_0의 주소
Name: 3, dtype: object
Name                      학생_1
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_1의 주소
Name: 4, dtype: object
Name                      학생_2
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_2의 주소
Name: 5, dtype: object
Name                      학생_3
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_3의 주소
Name: 6, dtype: object
Name                      학생_4
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_4의 주소
Name: 7, dtype: object
Name                      학생_5
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_5의 주소
Name: 8, dtype: object
Name                      학생_6
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_6의 주소
Name: 9, dtype: object
Name                      학생_7
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_7의 주소
Name: 10, dtype: object
Name                      학생_8
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_8의 주소
Name: 11, dtype: object
Name                      학생_9
Email          email@gmail.com
Phonenumber         0101234124
Address               학생_9의 주소
Name: 12, dtype: object

0     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
dtype: object

In [44]:
df["Name"].apply(get_address)

0      임원균의 주소
2      홍길동의 주소
3     학생_0의 주소
4     학생_1의 주소
5     학생_2의 주소
6     학생_3의 주소
7     학생_4의 주소
8     학생_5의 주소
9     학생_6의 주소
10    학생_7의 주소
11    학생_8의 주소
12    학생_9의 주소
Name: Name, dtype: object

In [45]:
# 데이터 타입의 확인

In [46]:
df.dtypes

Name           object
Email          object
Phonenumber    object
Address        object
dtype: object

In [47]:
df = df.astype({'Phonenumber': int})

In [48]:
df.dtypes

Name           object
Email          object
Phonenumber     int64
Address        object
dtype: object

In [49]:
df['Phonenumber'] = df['Phonenumber'].astype(float)

In [50]:
df

    Name                Email   Phonenumber   Address
0    임원균  corikachu@gmail.com  1.050329e+09   임원균의 주소
2    홍길동      Email@gmail.com  1.012341e+09   홍길동의 주소
3   학생_0      email@gmail.com  1.012341e+08  학생_0의 주소
4   학생_1      email@gmail.com  1.012341e+08  학생_1의 주소
5   학생_2      email@gmail.com  1.012341e+08  학생_2의 주소
6   학생_3      email@gmail.com  1.012341e+08  학생_3의 주소
7   학생_4      email@gmail.com  1.012341e+08  학생_4의 주소
8   학생_5      email@gmail.com  1.012341e+08  학생_5의 주소
9   학생_6      email@gmail.com  1.012341e+08  학생_6의 주소
10  학생_7      email@gmail.com  1.012341e+08  학생_7의 주소
11  학생_8      email@gmail.com  1.012341e+08  학생_8의 주소
12  학생_9      email@gmail.com  1.012341e+08  학생_9의 주소

In [53]:
pd.set_option('display.float_format',  '{:.2f}'.format)

In [54]:
df

    Name                Email   Phonenumber   Address
0    임원균  corikachu@gmail.com 1050329432.00   임원균의 주소
2    홍길동      Email@gmail.com 1012341234.00   홍길동의 주소
3   학생_0      email@gmail.com  101234124.00  학생_0의 주소
4   학생_1      email@gmail.com  101234124.00  학생_1의 주소
5   학생_2      email@gmail.com  101234124.00  학생_2의 주소
6   학생_3      email@gmail.com  101234124.00  학생_3의 주소
7   학생_4      email@gmail.com  101234124.00  학생_4의 주소
8   학생_5      email@gmail.com  101234124.00  학생_5의 주소
9   학생_6      email@gmail.com  101234124.00  학생_6의 주소
10  학생_7      email@gmail.com  101234124.00  학생_7의 주소
11  학생_8      email@gmail.com  101234124.00  학생_8의 주소
12  학생_9      email@gmail.com  101234124.00  학생_9의 주소

In [55]:
# 전화번호
phone = pd.DataFrame(columns=["Phonenumber"])

In [56]:
phone

Empty DataFrame
Columns: [Phonenumber]
Index: []

In [57]:
phone.loc[0] = "010-5032-9432"

In [58]:
phone.loc[1] = "공일공-오공삼이-9432"

In [59]:
phone.loc[2] = "010.5032.구사삼이"

In [60]:
phone.loc[3] = "공1공-5032.구사삼2"

In [61]:
def get_preprocessed_phone(phonenumber):
    
    _dict = {
        '공': '0',
        '일': '1',
        '이': '2',
        '삼': '3',
        '사': '4',
        '오': '5',
        # ...
        '구': '9',
        " ": "",
        "-": "",
        ".": ""
    }
    
    for key, value in _dict.items():
        phonenumber = phonenumber.replace(key, value)
    return phonenumber

In [62]:
phone["Preprocessed Phonenumber"] = phone["Phonenumber"].apply(get_preprocessed_phone)

In [64]:
phone

     Phonenumber Preprocessed Phonenumber
0  010-5032-9432              01050329432
1  공일공-오공삼이-9432              01050329432
2  010.5032.구사삼이              01050329432
3  공1공-5032.구사삼2              01050329432

In [2]:
# 스타벅스 드링크 메뉴
# 1. 스타벅스 음료에서 칼로리Calories의 평균을 구해보세요
# 2. 음료중에 카테고리가 스무디(Smoothies)인 음료만 엑셀파일로 저장해보세요
# 3. 카페인이 있는 (0보다 큰) 음료들만 모아서 카페인 평균을 구해보세요
# => 측정값이 없거나, 들쑥날쑥한(Varies) 값들은 전부 0으로 간주
import pandas as pd
import numpy as np
starbucks = pd.read_csv("../data/starbucks_drink_menu.csv")

In [66]:
starbucks

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.00,0.00,0,5,0,0,0,0.30,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.00,0.00,0,10,0,0,0,0.50,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.00,0.00,0,10,0,0,0,1.00,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.00,0.00,0,10,0,0,0,1.00,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.10,0.00,5,75,10,0,9,6.00,10%,0%,20%,0%,75
5,Classic Espresso Drinks,Caffè Latte,2% Milk,100,3.5,2.00,0.10,15,85,10,0,9,6.00,10%,0%,20%,0%,75
6,Classic Espresso Drinks,Caffè Latte,Soymilk,70,2.5,0.40,0.00,0,65,6,1,4,5.00,6%,0%,20%,8%,75
7,Classic Espresso Drinks,Caffè Latte,Tall Nonfat Milk,100,0.2,0.20,0.00,5,120,15,0,14,10.00,15%,0%,30%,0%,75
8,Classic Espresso Drinks,Caffè Latte,2% Milk,150,6,3.00,0.20,25,135,15,0,14,10.00,15%,0%,30%,0%,75
9,Classic Espresso Drinks,Caffè Latte,Soymilk,110,4.5,0.50,0.00,0,105,10,1,6,8.00,10%,0%,30%,15%,75
10,Classic Espresso Drinks,Caffè Latte,Grande Nonfat Milk,130,0.3,0.20,0.00,5,150,19,0,18,13.00,20%,0%,40%,0%,150
11,Classic Espresso Drinks,Caffè Latte,2% Milk,190,7,3.50,0.20,30,170,19,0,17,12.00,20%,2%,40%,0%,150
12,Classic Espresso Drinks,Caffè Latte,Soymilk,150,5,0.50,0.00,0,130,13,1,8,10.00,15%,0%,40%,15%,150
13,Classic Espresso Drinks,Caffè Latte,Venti Nonfat Milk,170,0.4,0.30,0.00,10,190,25,0,23,16.00,30%,0%,50%,0%,150
14,Classic Espresso Drinks,Caffè Latte,2% Milk,240,9,4.50,0.30,35,220,24,0,22,16.00,25%,2%,50%,0%,150
15,Classic Espresso Drinks,Caffè Latte,Soymilk,190,7,1.00,0.00,0,170,16,2,11,13.00,20%,0%,50%,25%,150
16,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Short Nonfat Milk,110,1.5,1.00,0.00,5,60,21,1,17,7.00,8%,0%,15%,10%,85
17,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),2% Milk,130,4,2.00,0.10,10,70,21,1,17,6.00,8%,0%,15%,10%,85
18,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Soymilk,110,3.5,1.00,0.00,0,55,19,2,13,6.00,6%,0%,15%,20%,85
19,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Tall Nonfat Milk,170,2,1.00,0.00,5,100,32,1,27,10.00,15%,0%,25%,20%,95
20,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),2% Milk,200,6,3.50,0.10,20,115,32,1,26,10.00,15%,0%,25%,20%,95
21,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Soymilk,180,5,1.50,0.00,0,85,28,2,20,9.00,10%,0%,25%,30%,95
22,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Grande Nonfat Milk,220,2.5,1.50,0.00,5,125,43,2,34,13.00,20%,0%,35%,25%,175
23,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),2% Milk,260,8,4.50,0.20,25,140,42,2,34,13.00,15%,2%,35%,25%,175
24,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Soymilk,230,7,2.00,0.00,0,105,37,3,26,11.00,10%,0%,35%,40%,175
25,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Venti Nonfat Milk,280,3,2.00,0.00,10,160,54,2,44,17.00,25%,0%,45%,30%,180
26,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),2% Milk,340,11,6.00,0.20,30,180,53,2,43,17.00,20%,2%,45%,30%,180
27,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream),Soymilk,290,9,2.50,0.00,0,140,47,4,33,14.00,15%,0%,45%,50%,180
28,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte),Short Nonfat Milk,100,0.1,0.10,0.00,5,70,19,0,18,6.00,10%,0%,20%,0%,75
29,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte),2% Milk,130,3.5,1.50,0.10,15,80,18,0,17,6.00,10%,0%,20%,0%,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Frappuccino® Blended Coffee,Java Chip (Without Whipped Cream),Whole Milk,340,7,5.00,0.10,10,250,67,2,62,5.00,4%,0%,10%,25%,110
213,Frappuccino® Blended Coffee,Java Chip (Without Whipped Cream),Soymilk,310,6,3.50,0.00,0,240,65,2,60,4.00,4%,0%,10%,30%,110
214,Frappuccino® Blended Coffee,Java Chip (Without Whipped Cream),Venti Nonfat Milk,420,5,4.00,0.00,5,340,90,2,84,7.00,10%,0%,20%,35%,145
215,Frappuccino® Blended Coffee,Java Chip (Without Whipped Cream),Whole Milk,460,10,7.00,0.20,15,340,90,2,84,7.00,6%,0%,15%,35%,145
216,Frappuccino® Blended Coffee,Java Chip (Without Whipped Cream),Soymilk,430,8,4.50,0.00,0,330,88,3,80,6.00,6%,0%,20%,40%,145
217,Frappuccino® Light Blended Coffee,Coffee,Tall Nonfat Milk,90,0.1,0.00,0.00,0,160,20,0,19,3.00,4%,0%,10%,0%,70
218,Frappuccino® Light Blended Coffee,Coffee,Grande Nonfat Milk,120,0.1,0.10,0.00,0,210,26,0,26,3.00,6%,0%,10%,0%,95
219,Frappuccino® Light Blended Coffee,Coffee,Venti Nonfat Milk,160,0.1,0.10,0.00,5,270,34,0,33,5.00,8%,0%,15%,2%,120
220,Frappuccino® Light Blended Coffee,Mocha,Tall Nonfat Milk,110,0.5,0.40,0.00,0,150,24,1,23,3.00,4%,0%,8%,6%,70
221,Frappuccino® Light Blended Coffee,Mocha,Grande Nonfat Milk,150,1,0.50,0.00,0,200,33,1,30,4.00,6%,0%,10%,8%,95
222,Frappuccino® Light Blended Coffee,Mocha,Venti Nonfat Milk,210,1,0.50,0.00,5,280,46,1,42,6.00,8%,0%,15%,10%,130
223,Frappuccino® Light Blended Coffee,Caramel,Tall Nonfat Milk,100,0.1,0.00,0.00,0,140,23,0,23,3.00,4%,0%,8%,0%,65
224,Frappuccino® Light Blended Coffee,Caramel,Grande Nonfat Milk,150,0.1,0.10,0.00,0,200,33,0,32,3.00,6%,0%,10%,0%,90
225,Frappuccino® Light Blended Coffee,Caramel,Venti Nonfat Milk,200,0.1,0.10,0.00,5,270,44,0,43,5.00,8%,0%,15%,2%,120
226,Frappuccino® Light Blended Coffee,Java Chip,Tall Nonfat Milk,150,3,2.00,0.00,0,170,30,1,27,4.00,4%,0%,10%,20%,70
227,Frappuccino® Light Blended Coffee,Java Chip,Grande Nonfat Milk,220,4,3.00,0.00,0,240,43,2,39,5.00,6%,0%,10%,25%,105
228,Frappuccino® Light Blended Coffee,Java Chip,Venti Nonfat Milk,290,5,4.00,0.00,5,320,58,2,52,7.00,8%,0%,15%,35%,165
229,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Tall Nonfat Milk,170,0.1,0.10,0.00,0,140,39,0,38,3.00,6%,6%,10%,2%,0
230,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Whole Milk,190,3,1.50,0.10,10,140,38,0,37,3.00,4%,6%,10%,2%,0
231,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,170,1.5,0.20,0.00,0,135,37,1,35,3.00,4%,6%,10%,6%,0
232,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Grande Nonfat Milk,230,0.2,0.10,0.00,0,190,53,0,52,4.00,8%,6%,15%,4%,0
233,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Whole Milk,260,4,2.00,0.10,10,190,53,0,52,4.00,6%,6%,15%,4%,0
234,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,240,2,0.20,0.00,0,180,51,1,49,3.00,4%,6%,15%,8%,0
235,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Venti Nonfat Milk,310,0.2,0.10,0.00,5,260,70,0,69,6.00,10%,8%,20%,4%,0
236,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Whole Milk,350,6,3.00,0.20,15,260,70,0,68,6.00,8%,8%,20%,4%,0
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,3 2,0.40,0.00,0,250,67,1,64,5.00,6%,8%,20%,10%,0
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,0.1,0.10,0.00,0,160,39,0,38,4.00,6%,0%,10%,0%,0
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200,3.5,2.00,0.10,10,160,39,0,38,3.00,6%,0%,10%,0%,0
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180,1.5,0.20,0.00,0,160,37,1,35,3.00,4%,0%,10%,6%,0
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,0.1,0.10,0.00,5,230,56,0,55,5.00,8%,0%,15%,0%,0

In [3]:
# 1. 칼로리 평균

In [5]:
cal = np.array(starbucks['Calories'])

In [7]:
np.mean(cal)

193.87190082644628

In [8]:
cal.mean()

193.87190082644628

In [10]:
starbucks['Calories'].mean()

193.87190082644628

In [11]:
# 2. 음료중에서 카테고리가 스무디인 음료만 엑셀파일로 저장

In [14]:
smoothies = starbucks[starbucks['Beverage_category'] == 'Smoothies']

In [16]:
smoothies.to_excel("./smoothies.xlsx")

In [17]:
# 3. 카페인이 있는 (0보다 큰) 음료들만 모아서 평균을 구해보세요

In [20]:
starbucks['Caffeine (mg)'].dtype

dtype('O')

In [21]:
starbucks['Caffeine (mg)'].astype(int)

ValueError: invalid literal for int() with base 10: 'Varies'

In [22]:
caffeine = starbucks['Caffeine (mg)']

In [24]:
caffeine = caffeine[caffeine != 'Varies']

In [27]:
caffeine = caffeine[caffeine != 'varies']

In [30]:
caffeine = caffeine.dropna()

In [33]:
caffeine = caffeine.astype(int)

In [34]:
caffeine = caffeine[caffeine > 0]

In [36]:
caffeine.mean()

106.54891304347827

In [37]:
# 검색을통해서..

In [38]:
caffeine = starbucks['Caffeine (mg)']

In [44]:
pd.to_numeric(caffeine, errors='coerce').dropna().mean()

89.52054794520548

In [45]:
caffeine = starbucks['Caffeine (mg)']

In [46]:
caffeine.apply(lambda s: print(s))

175
260
330
410
75
75
75
75
75
75
150
150
150
150
150
150
85
85
85
95
95
95
175
175
175
180
180
180
75
75
75
75
75
75
150
150
150
150
150
150
75
150
225
300
75
75
75
75
75
75
150
150
150
150
150
150
75
150
75
75
150
150
75
75
75
75
75
75
150
150
150
150
150
150
75
75
75
75
75
75
150
150
150
150
150
150
10
10
10
20
20
20
25
25
25
30
30
30
0
0
0
0
Varies
Varies
Varies
Varies
50
50
50
70
70
70
95
95
95
120
120
120
25
25
25
55
55
55
80
80
80
110
110
110
varies
varies
varies
varies
varies
varies
varies
varies
varies
varies
varies
varies
0
0
0
0
0
0
0
0
0
0
0
0
120
165
235
90
nan
90
90
125
125
125
170
170
170
Varies
Varies
Varies
Varies
Varies
Varies
15
15
15
0
0
0
0
0
0
70
70
70
95
95
95
130
130
130
70
70
110
110
110
140
140
140
70
70
70
100
100
100
130
130
130
75
75
75
110
110
110
145
145
145
70
95
120
70
95
130
65
90
120
70
105
165
0
0
0
0
0
0
0
0
0
0
0
0
0

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
212    None
213    None
214    None
215    None
216    None
217    None
218    None
219    None
220    None
221    None
222    None
223    None
224    None
225    None
226    None
227    None
228    None
229    None
230    None
231    None
232    None
233    None
234    None
235    None
236    None
237    None
238    None
239    None
240    None
241    None
Name: Caffeine (mg), Length: 242, dtype: object

In [50]:
# 2017년의 나라별 행복지수
# 1. 행복지수가 5 이상인 DataFrame만 뽑아서 저장
# 2. 전체 DataFrame에서 Happiness.Score으로 정렬 <= 인터넷 검색
country = pd.read_csv("../data/happiness_2017.csv")

In [51]:
country

,Country,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Cyprus,5.621,5.714693,5.527307,1.355938,1.131363,0.844715,0.355112,0.271254,0.041238,1.621249
1,Egypt,4.735,4.825134,4.644866,0.989702,0.997471,0.520187,0.282110,0.128631,0.114381,1.702161
2,Syria,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
3,Liberia,3.533,3.653756,3.412244,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,1.673286
4,Zimbabwe,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970
5,Austria,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
6,Burkina Faso,4.032,4.124059,3.939941,0.350228,1.043280,0.215844,0.324368,0.250865,0.120328,1.727213
7,Paraguay,5.493,5.577381,5.408619,0.932537,1.507285,0.579251,0.473508,0.224151,0.091066,1.685333
8,United Kingdom,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
9,Spain,6.403,6.471055,6.334945,1.384398,1.532091,0.888961,0.408781,0.190134,0.070914,1.927758
10,Uzbekistan,5.971,6.065538,5.876463,0.786441,1.548969,0.498273,0.658249,0.415984,0.246528,1.816914
11,Niger,4.028,4.111947,3.944053,0.161925,0.993025,0.268505,0.363659,0.228674,0.138573,1.873983
12,Sudan,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066
13,Sierra Leone,4.709,4.850643,4.567357,0.368421,0.984136,0.005565,0.318698,0.293041,0.071095,2.668460
14,Ireland,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
15,Estonia,5.611,5.688140,5.533860,1.320879,1.476671,0.695168,0.479131,0.098891,0.183249,1.357509
16,Namibia,4.574,4.770355,4.377645,0.964434,1.098471,0.338612,0.520304,0.077134,0.093147,1.481890
17,Saudi Arabia,6.344,6.444167,6.243833,1.530624,1.286678,0.590148,0.449751,0.147616,0.273432,2.065430
18,India,4.315,4.371522,4.258478,0.792221,0.754373,0.455428,0.469987,0.231538,0.092227,1.519117
19,Thailand,6.424,6.509117,6.338883,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613,2.039508
20,Vietnam,5.074,5.147281,5.000719,0.788548,1.277491,0.652169,0.571056,0.234968,0.087633,1.462319
21,Guatemala,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
22,Chile,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586
23,Honduras,5.181,5.301583,5.060418,0.730573,1.143945,0.582569,0.348080,0.236189,0.073345,2.065811
24,South Korea,5.838,5.922559,5.753441,1.401678,1.128274,0.900214,0.257922,0.206674,0.063283,1.880378
25,New Zealand,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
26,Romania,5.825,5.919694,5.730305,1.217684,1.150091,0.685158,0.457004,0.133520,0.004388,2.176831
27,Afghanistan,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
28,Czech Republic,6.609,6.683862,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862
29,Singapore,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
...,...,...,...,...,...,...,...,...,...,...,...
125,"Hong Kong S.A.R., China",5.472,5.549594,5.394406,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633
126,Armenia,4.376,4.466735,4.285265,0.900597,1.007484,0.637524,0.198303,0.083488,0.026674,1.521499
127,Bahrain,6.087,6.178989,5.995011,1.488412,1.323110,0.653133,0.536747,0.172668,0.257042,1.656149
128,Greece,5.227,5.325246,5.128754,1.289487,1.239415,0.810199,0.095731,0.000000,0.043290,1.749222
129,Russia,5.963,6.030275,5.895725,1.281778,1.469282,0.547349,0.373783,0.052264,0.032963,2.205607
130,Nepal,4.962,5.067356,4.856644,0.479820,1.179283,0.504131,0.440306,0.394096,0.072976,1.891241
131,Portugal,5.195,5.285042,5.104959,1.315175,1.367043,0.795844,0.498465,0.095103,0.015869,1.107683
132,Iran,4.692,4.798225,4.585775,1.156873,0.711551,0.639333,0.249323,0.387243,0.048761,1.498735
133,Gabon,4.465,4.557362,4.372639,1.198210,1.155620,0.356579,0.312329,0.043785,0.076047,1.322916
134,North Cyprus,5.810,5.897366,5.722633,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158
135,Bhutan,5.011,5.079335,4.942666,0.885416,1.340127,0.495879,0.501538,0.474055,0.173380,1.140184
136,Malawi,3.970,4.077479,3.862521,0.233442,0.512569,0.315090,0.466915,0.287170,0.072712,2.081786
137,Congo (Brazzaville),4.291,4.410054,4.171946,0.808964,0.832044,0.289957,0.435026,0.120852,0.079618,1.724136
138,Sri Lanka,4.440,4.553447,4.326553,1.009850,1.259976,0.625131,0.561213,0.490864,0.073654,0.419389
139,Cambodia,4.168,4.278518,4.057483,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106,1.042941
140,Tunisia,4.805,4.884367,4.725633,1.007266,0.868351,0.613212,0.289681,0.049693,0.086723,1.890251
141,Slovenia,5.758,5.842225,5.673775,1.341206,1.452519,0.790828,0.572576,0.242649,0.045129,1.313317
142,Ecuador,6.008,6.105848,5.910152,1.000820,1.286169,0.685636,0.455198,0.150112,0.140135,2.290353
143,Haiti,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
144,Kyrgyzstan,5.004,5.089920,4.918080,0.596220,1.394239,0.553458,0.454943,0.428580,0.039439,1.536723
145,Canada,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
146,Bolivia,5.823,5.903977,5.742023,0.833757,1.227619,0.473630,0.558733,0.225561,0.060478,2.443279
147,Congo (Kinshasa),4.280,4.357811,4.202190,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959
148,Iraq,4.497,4.622591,4.371409,1.102710,0.978613,0.501180,0.288556,0.199637,0.107216,1.318907
149,Germany,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
150,Azerbaijan,5.234,5.299287,5.168714,1.153602,1.152400,0.540776,0.398156,0.045269,0.180988,1.762482
151,Tanzania,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
152,Slovakia,6.098,6.177348,6.018652,1.325394,1.505059,0.712733,0.295817,0.136544,0.024211,2.097777
153,Serbia,5.395,5.491570,5.298430,1.069318,1.258190,0.650785,0.208716,0.220126,0.040904,1.947084
154,Nigeria,5.074,5.209500,4.938500,0.783756,1.215770,0.056916,0.394953,0.230947,0.026122,2.365391

In [54]:
# 1. 행복지수 5
country[country['Happiness.Score'] > 5].to_excel("./country_over_5.xlsx")

In [56]:
# 2. 정렬
country.sort_values('Happiness.Score')

,Country,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
71,Central African Republic,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005
91,Burundi,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
151,Tanzania,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
2,Syria,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
95,Rwanda,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
34,Togo,3.495,3.594038,3.395962,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
85,Guinea,3.507,3.584428,3.429572,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,1.552312
3,Liberia,3.533,3.653756,3.412244,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,1.673286
73,South Sudan,3.591,3.725539,3.456462,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567
107,Yemen,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601
143,Haiti,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
48,Madagascar,3.644,3.714319,3.573681,0.305809,0.913020,0.375223,0.189197,0.208733,0.067232,1.584613
49,Benin,3.657,3.745784,3.568217,0.431085,0.435300,0.209930,0.425963,0.207948,0.060929,1.885631
122,Botswana,3.766,3.874123,3.657877,1.122094,1.221555,0.341756,0.505196,0.099348,0.098583,0.377914
27,Afghanistan,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
96,Angola,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
52,Lesotho,3.808,4.044344,3.571656,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095,1.429835
4,Zimbabwe,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970
42,Chad,3.936,4.034712,3.837289,0.438013,0.953856,0.041135,0.162342,0.216114,0.053582,2.071238
136,Malawi,3.970,4.077479,3.862521,0.233442,0.512569,0.315090,0.466915,0.287170,0.072712,2.081786
11,Niger,4.028,4.111947,3.944053,0.161925,0.993025,0.268505,0.363659,0.228674,0.138573,1.873983
6,Burkina Faso,4.032,4.124059,3.939941,0.350228,1.043280,0.215844,0.324368,0.250865,0.120328,1.727213
43,Uganda,4.081,4.195800,3.966200,0.381431,1.129828,0.217633,0.443186,0.325766,0.057070,1.526363
120,Ukraine,4.096,4.185410,4.006590,0.894652,1.394538,0.575904,0.122975,0.270061,0.023029,0.814382
78,Ghana,4.120,4.222707,4.017293,0.667225,0.873665,0.295638,0.423026,0.256924,0.025336,1.577868
12,Sudan,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066
139,Cambodia,4.168,4.278518,4.057483,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106,1.042941
44,Ivory Coast,4.180,4.275183,4.084817,0.603049,0.904780,0.048642,0.447706,0.201237,0.130062,1.844964
60,Mali,4.190,4.269671,4.110329,0.476180,1.281473,0.169366,0.306614,0.183354,0.104970,1.668191
147,Congo (Kinshasa),4.280,4.357811,4.202190,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959
...,...,...,...,...,...,...,...,...,...,...,...
115,Panama,6.452,6.557131,6.346870,1.233748,1.373193,0.706156,0.550027,0.210557,0.070984,2.307200
21,Guatemala,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
84,Uruguay,6.454,6.545906,6.362094,1.217560,1.412228,0.719217,0.579392,0.175097,0.178062,2.172410
93,Malta,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
29,Singapore,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
101,Mexico,6.578,6.671149,6.484851,1.153184,1.210862,0.709979,0.412730,0.120990,0.132774,2.837155
106,Argentina,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
28,Czech Republic,6.609,6.683862,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862
118,Brazil,6.635,6.725470,6.544531,1.107353,1.431306,0.616552,0.437454,0.162350,0.111093,2.769267
41,United Arab Emirates,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
22,Chile,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586
8,United Kingdom,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
65,Luxembourg,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
62,Belgium,6.891,6.955821,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210
149,Germany,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
14,Ireland,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
88,United States,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
5,Austria,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
69,Costa Rica,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
59,Israel,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
124,Australia,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
98,Sweden,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
25,New Zealand,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
145,Canada,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
81,Netherlands,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
103,Finland,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
116,Switzerland,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
54,Iceland,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
87,Denmark,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
108,Norway,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [58]:
country.sort_values('Happiness.Score', ascending=False)

,Country,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
108,Norway,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
87,Denmark,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
54,Iceland,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
116,Switzerland,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
103,Finland,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
81,Netherlands,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
145,Canada,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
25,New Zealand,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
124,Australia,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
98,Sweden,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
59,Israel,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
69,Costa Rica,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
5,Austria,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
88,United States,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
149,Germany,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
62,Belgium,6.891,6.955821,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210
65,Luxembourg,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
8,United Kingdom,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
22,Chile,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586
41,United Arab Emirates,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
118,Brazil,6.635,6.725470,6.544531,1.107353,1.431306,0.616552,0.437454,0.162350,0.111093,2.769267
28,Czech Republic,6.609,6.683862,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862
106,Argentina,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
101,Mexico,6.578,6.671149,6.484851,1.153184,1.210862,0.709979,0.412730,0.120990,0.132774,2.837155
29,Singapore,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
93,Malta,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
84,Uruguay,6.454,6.545906,6.362094,1.217560,1.412228,0.719217,0.579392,0.175097,0.178062,2.172410
21,Guatemala,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
115,Panama,6.452,6.557131,6.346870,1.233748,1.373193,0.706156,0.550027,0.210557,0.070984,2.307200
...,...,...,...,...,...,...,...,...,...,...,...
147,Congo (Kinshasa),4.280,4.357811,4.202190,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959
60,Mali,4.190,4.269671,4.110329,0.476180,1.281473,0.169366,0.306614,0.183354,0.104970,1.668191
44,Ivory Coast,4.180,4.275183,4.084817,0.603049,0.904780,0.048642,0.447706,0.201237,0.130062,1.844964
139,Cambodia,4.168,4.278518,4.057483,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106,1.042941
12,Sudan,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066
78,Ghana,4.120,4.222707,4.017293,0.667225,0.873665,0.295638,0.423026,0.256924,0.025336,1.577868
120,Ukraine,4.096,4.185410,4.006590,0.894652,1.394538,0.575904,0.122975,0.270061,0.023029,0.814382
43,Uganda,4.081,4.195800,3.966200,0.381431,1.129828,0.217633,0.443186,0.325766,0.057070,1.526363
6,Burkina Faso,4.032,4.124059,3.939941,0.350228,1.043280,0.215844,0.324368,0.250865,0.120328,1.727213
11,Niger,4.028,4.111947,3.944053,0.161925,0.993025,0.268505,0.363659,0.228674,0.138573,1.873983
136,Malawi,3.970,4.077479,3.862521,0.233442,0.512569,0.315090,0.466915,0.287170,0.072712,2.081786
42,Chad,3.936,4.034712,3.837289,0.438013,0.953856,0.041135,0.162342,0.216114,0.053582,2.071238
4,Zimbabwe,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970
52,Lesotho,3.808,4.044344,3.571656,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095,1.429835
96,Angola,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
27,Afghanistan,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
122,Botswana,3.766,3.874123,3.657877,1.122094,1.221555,0.341756,0.505196,0.099348,0.098583,0.377914
49,Benin,3.657,3.745784,3.568217,0.431085,0.435300,0.209930,0.425963,0.207948,0.060929,1.885631
48,Madagascar,3.644,3.714319,3.573681,0.305809,0.913020,0.375223,0.189197,0.208733,0.067232,1.584613
143,Haiti,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
107,Yemen,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601
73,South Sudan,3.591,3.725539,3.456462,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567
3,Liberia,3.533,3.653756,3.412244,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,1.673286
85,Guinea,3.507,3.584428,3.429572,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,1.552312
34,Togo,3.495,3.594038,3.395962,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
95,Rwanda,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
2,Syria,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
151,Tanzania,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
91,Burundi,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
71,Central African Republic,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005